.top{
    margin: 10px;
    padding: 10px;
}
.heading{
    -webkit-text-stroke: 3.5px  #c5181d;
    -webkit-text-fill-color: white;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    padding-left: 1px;
    display: inline-block;
    margin-right: 400px;
}
.dws{
    position: relative;
    text-align: right;
    display: inline-block;
    
}
*{box-sizing: border-box;}
.search_wrapper{
    display: inline-block;
}
.search{
    position: relative;
    width: auto;
    margin: 0 auto;
    height: 42px;
    display: inline-block;
}
.search_input{
    height: 42px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
.search_input:focus{
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid #9fd3c0;
}
.search_button{
    background:#9fd3c0;
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.search_button::before{
    content:url(../img/v.png) ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color:black;
}
.course{
    border: 1px solid #116b4b;
    font-size: 12px;
    color: #116b4b ;
    text-decoration: none;
    text-transform: uppercase;
    width: 130px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    transition: .5s;
    overflow: hidden;
    margin-left: 25px;
}    
.course:hover{
color: #fff;
background:#116b4b ;
}
.language{
    text-decoration: none;
    display: inline-block; 
    margin-left: 25px;
    position:relative;
    text-align: center;
    border-left: 1px solid black; padding: 15px ;
    border-right: 1px solid black; padding: 15px ;
}   
.lan{
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    display:inline-block;
    justify-content:start;
    font-size: 14px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
li{
    white-space: nowrap;
    padding-right: 10px;
    color: #111111;
    font: 12px ;
}
nav ul{
    list-style: none;
    background-color: white;
}
nav > ul > li{
    float: left;
}
nav ul::after{
    content: "";
    display: block;
    clear: both;
}
nav ul li a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    width: 140px;
}
nav ul li a:hover{
    color:#c5181d;
}
nav ul ul{
    display: none;
    position: absolute;
}
nav ul li:hover ul{
    display: block;
}




  /* Стилизация кнопки */ .gamburger{
    
    
    width: 100px;
    height: 100px;
    margin-right: 200px;
    display: flex;
    align-items: center;   
   justify-content: center;
    flex-direction: column;    
    
  }
  .gamburger:hover{
    cursor: pointer;
  }
  .gamburger span{
    display: block;
    transition: all 0.1s;
    width: 35px;
    margin: 3px;
    height: 2px;
    background-color: black;
  }
  
  .first{
    transform:  rotate(45deg);
    transform-origin: 0 top;
  }
  
  .middle{
    transform: scale(0);
  }
  
  .last{
    transform:  rotate(-45deg);
    transform-origin: 0 top;
  }
